@model IEnumerable<T_Camps.Data.Event>

@{
	ViewData["Title"] = "Upcoming Events";
}

<div class="page-wrapper">
	<!-- Event Page Start -->
	<section class="event-page">
		<div class="container">
			<div class="section-title text-left">
				<div class="section-title__tagline-box">
					<span class="section-title__tagline">Събития</span>
				</div>
				<h2 class="section-title__title">Това са нашите събития:</h2>
			</div>

			<div class="schedule-one__inner">
				<div class="schedule-one__main-tab-box tabs-box">
					<div class="tab-buttons-wrapper">
						<ul class="tab-buttons clearfix list-unstyled">
							@foreach (var eventGroup in Model.GroupBy(e => e.StartDate.Date))
							{
								<li data-tab="#@eventGroup.Key.ToString("yyyyMMdd")" class="tab-btn @(eventGroup.Key == Model.First().StartDate.Date ? "active-btn" : "")">
									<h3>@eventGroup.Key.ToString("dd MMMM yyyy")</h3>
								</li>
							}
						</ul>
					</div>
					<div class="tabs-content">
						@foreach (var eventGroup in Model.GroupBy(e => e.StartDate.Date))
						{
							<div class="tab @(eventGroup.Key == Model.First().StartDate.Date ? "active-tab" : "")" id="@eventGroup.Key.ToString("yyyyMMdd")">
								<div class="schedule-one__tab-content-box">
									@foreach (var eventItem in eventGroup)
									{
										<div class="schedule-one__single">
											<div class="schedule-one__left">
												<h3 class="schedule-one__title">
													<a href="event-details.html">@eventItem.Name</a>
												</h3>
												<p class="schedule-one__text">@eventItem.DescriptionShort</p>
											</div>
											<div class="schedule-one__img">
												<img src="/assets/@eventItem.MainImageUrl" alt="@eventItem.Name">
											</div>
											<div class="schedule-one__address-and-btn-box">
												<ul class="list-unstyled schedule-one__address">
													<li>
														<div class="icon">
															<span class="icon-clock"></span>
														</div>
														<div class="text">
															<p>@eventItem.StartDate.ToString("dd MMM yyyy") - @eventItem.EndDate.ToString("dd MMM yyyy")</p>
														</div>
													</li>
													<li>
														<div class="icon">
															<span class="icon-pin"></span>
														</div>
														<div class="text">
															<p><a href="@eventItem.LocationMapEmbedUrl" target="_blank">@eventItem.Location</a></p>
														</div>
													</li>
												</ul>
												<div class="schedule-one__btn-box">
													<a href="/events/details/@eventItem.Id" class="schedule-one__btn thm-btn">
														Виж<span class="icon-arrow-right"></span>
													</a>
												</div>
											</div>
										</div>
									}
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Event Page End -->
</div><!-- /.page-wrapper -->
