@model IEnumerable<T_Camps.ViewModels.ClientViewModel>
@section Scripts {
    <script src="~/js/site.js"></script>
}

@{
    ViewData["Title"] = "Clients";
}

<h2>ADMIN PANEL</h2>
<p class="d-flex w-100">
    <a href="@Url.Action("Create", "Admin")" class="btn btn-primary flex-shrink-0 me-2" style="width: 10%;">Create New</a>
    <a href="@Url.Action("SeedDataAsync", "Home")" class="btn btn-secondary flex-shrink-0 me-2" style="width: 10%;">Seed Dummy Data</a>
    <input type="text" id="searchInput" class="form-control flex-grow-1" placeholder="Search...">
</p>


<table class="table-bordered table-dark table-striped col-md-12" id="clientsTable">
    <thead>
        <tr>
            <th class="font-weight-bold">First Name</th>
            <th class="font-weight-bold">Last Name</th>
            <th class="font-weight-bold">Phone</th>
            <th class="font-weight-bold">Email</th>
            <th class="font-weight-bold">Description</th>
            <th class="font-weight-bold">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td class="col-md-2">@client.FirstName</td>
                <td class="col-md-2">@client.LastName</td>
                <td class="col-md-2">@client.Phone</td>
                <td class="col-md-2">@client.Email</td>
                <td class="col-md-2">@client.Description</td>
                <td class="col-md-2">
                    <a href="@Url.Action("Create", "Admin")" class="btn btn-primary btn-sm">Add New</a>
                    <a href="@Url.Action("Edit", "Admin", new { id = client.Id })" class="btn btn-warning btn-sm">Edit</a>
                    <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete(@client.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Bootstrap Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel" style="color: black">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: black">
                Are you sure you want to delete this item?
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Yes</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
